<div class="card">
    <div class="card-header">おすすめコミュニティ</div>
    <div class="card-content">
        <div class="list media-list">
            <ul>
                <li class="item-content">
                    <div class="item-media"><img src="/a.png" width="44"/></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">ビール会</div>
                        </div>
                        <div class="item-subtitle">毎週日曜の夜、みんなでビールを飲みましょう！</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-footer"> <span>9時間前</span><span>5 コメント</span></div>
</div>
