<div class="container">
    <h1>遊びの街</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/a.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ビール会</h5>
                    <p class="card-text">毎週日曜の夜、みんなでビールを飲みましょう！.</p>
                    <a href="#" class="btn btn-primary">イベントページヘ移動</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/a.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ビール会</h5>
                    <p class="card-text">毎週日曜の夜、みんなでビールを飲みましょう！.</p>
                    <a href="#" class="btn btn-primary">イベントページヘ移動</a>
                </div>
            </div>
        </div>
    </div>
</div>
