<div class="list links-list">
    <ul>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">参加コミュニティの管理</a></li>
        <li><a href="#">参加イベントの管理</a></li>
        <li><a href="#">お知らせ</a></li>
    </ul>
</div>
